body{

    display: inline-flexbox;
}
.wrap{
    width: calc(100%-960px);
 max-width: 960px;
 margin: auto;
}
.header{
    margin:auto;
    position:relative;
    width: inherit;

}
.title{
    display: flex;
    padding-bottom: 10px;
}
.title_name{
    margin: auto;
    border-bottom: 2px solid black;
    letter-spacing: 3px;
}
.name{
    display: flex;
}
.page_name{
    margin: auto;
}
.main_wrap{
    max-width: 1420px; 
    display: flex; 
    margin: auto;
   
}
.menu_pages{
    display: flex;
    top: 100px;
    right: 100px;
}
.menu_pages_id{
    margin: auto;

}

.menu{
    margin: 5px auto;
}
.menu img{
    width: 150px;
    height: 200px;
}
.menu_info{
    margin: auto;
    text-align: center;
    border: 2px solid black;
}
.shop{
    display: flex;
    flex-wrap: wrap;
}
.shop_item{
    padding: 10px;
   
    margin: auto;
}
button{
    border: none;
    font-size: 15px;
    border-radius: 5px;

}
.button{
    display: flex;
    padding: 5px;
    text-align: center;
}
.order_button{
    margin: auto;
    display: flex;
}
.button_form{
    margin: auto;
}
.icon_left{
    position: absolute;
    left: 5px;
    top: 5px;
}
.icon_right{
    position: absolute;
    right: 40px;
    top: 5px;
}
.icon{
    width: 10px;
    height: 10px;
}
